.header {
    height: 100px;
    width: auto;
<<<<<<< HEAD
    background-color: grey;
}

body {
    background-color: #f5ebe0;
}

header {
    cursor: default;
    margin-top: 0;
    margin-left: auto;
    margin: right;
    height: auto;
    width: 80%;
    background-color: #f5ebe0;
    display: flex;
    font-size: 30px;
    justify-content:space-between;
    padding-left: 5%;
    padding-right: 5%;
}

.headList {
    padding: 10px;
}

.Name {
    width: 40px;
    height: auto; /* Ajustez la hauteur en conséquence */
    color: black;
    font-size: 40px;
    writing-mode: vertical-lr;
    text-orientation: mixed;
    white-space: nowrap;
    transform: rotate(180deg);
    margin-top: 20%; /* Ajustez ce pourcentage en fonction de votre design */
    margin-left: -3%;
    margin-right: 7%;
}

.headPage {
    width: 100%;
}

.PresentationText {
    background-color: #e3d5ca;
    width: 100%;
    box-sizing: border-box;
    margin-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    margin: 0 auto;
    margin-left: 8%;
}

.bodyText {
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    align-items:flex-start;
    justify-content:space-around;
}

h1 {
    text-align: center;
    font-size: 50px;
}

.Paragraph {
    text-align: justify;
    font-size: 18px;
}

.skillsButton {
    transition: background-color 0.5s;
  }
  
  .skillsButton:hover {
    background-color:#e3d5ca;
  }

  .logoContainer {
    margin-top: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.Logo {
    margin-top: 10px;
}

.LinkedinLogo {
    margin-top: 20px;
    height: 40px;
    width: 40px;
}

.LinkedinLogo:hover {
    transform: scale(1.3);
    transition: transform 0.3s;
}

.GitHubLogo {
    height: 30px;
    width: 30px;   
}

.GitHubLogo:hover {
    transform: scale(1.3);
    transition: transform 0.3s;
}

.ComeUpLogo {
    margin-top: 50%;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.ComeUpLogo:hover {
    transform: scale(1.4);
    transition: transform 0.3s;
}
=======
    background-color: #226B80;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size:larger;
}

.nav {
    color: #FFEBD3;
}

body {
    margin: 0;
    background-color: #FFEAA5;
}

.Name {
    font-size: 350%;
    transform: rotate(270deg);
    width: auto;
    height: auto;
    white-space: nowrap;
    margin-top: 3%;
    position: inherit;
}

.ProfilPic {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: white;
    border: 5px solid #40A798;
    margin-top: 15%;
    margin-left: -25%;
}

.Statut {
    font-size: 250%;
    font-style: oblique;
}

.Trait {
    margin-top: 3%;
    margin-bottom: 3%;
    width: 30%;
    height: 1%;
    background-color: #40A798;
    border-radius: 5%;
}

.MainHost {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.MainRightBloc {
    display: flex;
    flex-direction: column;
}

.ProfilBloc {
    display: flex;
    flex-direction: row;
}

.StatutBloc {
    margin-left: 15%;
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ExcelLogo {
    width: auto;
    
}
>>>>>>> 17491efce54046230b56f23006a059404837a4ac
